.cart-product-card {
  .ant-card-body {
    padding: 0.7rem;
    margin-left: 1rem;
  }
}

@media (width<350px) {
  .cart-product-card {
    .ant-card-body {
      padding: 0.4rem;
      margin-left: 0rem;
    }
  }
}
