.cart_page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-top: 1px solid var(--border);
  width: 70%;
  margin: 0 auto;
  min-height: 80vh;
  margin-top: 2rem;
}

.cart_page_left {
  border-right: 1px solid var(--border);
}

.cart_page_right {
  margin-left: 2rem;
}

.cart-product-card {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.4rem;
  padding-left: 0.5rem;

  img {
    height: 10rem;
  }
}

.offer-card {
  border-color: var(--olive-dark);
  border-radius: 8px;
  margin-bottom: 1rem;
}

.address_preview {
  margin-top: 2.5rem;
  margin-right: 1rem;
  text-align: center;

  > div {
    padding: 0 !important;
    margin-left: 1rem;
  }

  span:first-child {
    font-weight: bold;
  }
}

.address_card {
  border: 1px solid var(--olive-dark);
  padding: 0.7rem;
  margin-bottom: 1rem;
  border-radius: 8px;

  p {
    margin: 0.1rem;
  }
  .default_delivery {
    color: var(--beige-1) !important;
    background-color: var(--orange-dark) !important;
  }
}

.coupon_container {
  border-bottom: 1px solid var(--border);
}

.checkout_container {
  div {
    margin-bottom: 0.4rem;
  }

  .total {
    border-top: 1px solid var(--border);
    margin-top: 0.5rem;
    padding-top: 0.5rem;
  }
}

.emptybag {
  text-align: center;
  min-height: 80vh;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  img {
    width: 10rem;
    margin-left: -2rem;
  }
}

.ant-radio-inner {
  background-color: var(--olive-dark) !important;
  border-color: white !important;
}

.cart-product-btns {
  display: flex;
  gap: 0.2rem;
}

@media (width<1200px) {
  .cart_page {
    width: 90%;
  }
}

@media (width<992px) {
  .cart_page {
  }

  /* .card {
    flex-direction: column;
    align-items: flex-start;
  } */
}

@media (width<776px) {
  .cart_page {
    grid-template-columns: 1fr;
    border: none;
  }

  .cart_page_left {
    border-right: none;
    border-bottom: 1px solid var(--border);

    .cart-product-list {
      margin-top: 1.5rem;
      border-top: 1px solid var(--border);
      padding: 1rem 0;
    }
  }

  .coupon_container {
    padding: 0.2rem 0;
  }

  .cart_page_right {
    margin-left: 0;
    margin-bottom: 2rem;
  }
  /* .card {
    flex-direction: column;
    align-items: flex-start;
  } */
}

@media (width<576px) {
  .ant-card-cover {
    width: fit-content !important;

    /* img {
      width: 5rem !important;
      object-fit: contain;
    } */
  }

  .cart-product-card {
    /* padding: 0.2rem; */
  }

  .cart-product-btns {
    flex-direction: column;
    gap: 0.5rem;
  }

  .address_preview {
    text-align: center;

    > div {
      padding: 0.5rem 0 !important;
    }
  }
}

@media (width<400px) {
  .cart-product-img {
    width: 6rem !important;
    object-fit: cover;
  }
}
