.home-page {
  padding: 1rem;
  text-transform: capitalize;

  .product .ant-card-body {
    text-align: center;
    padding: 0 !important;
    margin-bottom: 1rem;
  }
}

.ant-tabs-nav-wrap {
  justify-content: center;
}

.home-product-card {
  min-height: 20rem !important;

  .ant-card-body {
    padding: 0;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
}

.home-product-card-main {
  display: flex;
  gap: 0.3rem;
  justify-content: center;
}

.home-product-card-footer {
  display: flex;
  justify-content: center;
}

.products-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
  gap: 1.3rem;
  padding: 1rem;
  justify-content: center;
}

@media (width<576px) {
  .products-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 !important;
    margin: 1rem 0;
  }

  .home-product {
    justify-content: center;
    align-items: center;

    div:nth-child(2) {
      padding: 10px !important;
    }
  }
}
