.ant-tabs-nav-wrap {
  justify-content: center;
}

.ant-card-body {
  padding: 0.7rem !important;
}

/* @media (width<576px) {
  .products-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 !important;
    margin: 1rem 0;
  }

  .home-product {
    justify-content: center;
    align-items: center;

    div:nth-child(2) {
      padding: 10px !important;
    }
  }
} */
