.wishlist_container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 230px));
  margin-top: 2rem;
  min-height: 80vh;
  padding: 1rem;
}

.wishlist_product .ant-card-body {
  text-align: center;
  padding: 0 !important;
  margin-bottom: 1rem;
}

.empty_wishlist {
  text-align: center;
  min-height: 80vh;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;

  img {
    width: 15rem;
  }
}
.wishlist_product-btns {
  display: flex;
  gap: 0.2rem;
  margin: 0.2rem;
}

@media (width<576px) {
  .wishlist_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 2s50px)); */
  }

  .wishlist_product {
    width: 10rem;
  }

  .wishlist_product-btns {
    flex-direction: column;
    gap: 0.4rem;
  }
}
