:root {
  --primary: #f8c3a7;
  --orange-dark: #d26900;
  --olive-dark: #7f9a75;
  --beige-1: #e8d9b7;
  --beige-light: #f4e8d1;
  --border: #eaeaec;
}

body {
  font-family: "Noto Sans", sans-serif;
  padding: 0;
  margin: 0;
  /* background-color: #ffcdb2; */
  background-color: var(--primary);
}

.navlink {
  color: black;
}

.navlink.active {
  color: var(--orange-dark);
}

.heart {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* !ANT STYLES */
.ant-card {
  background-color: var(--beige-light) !important;
}

/* .ant-btn:hover {
  background-color: var(--olive-dark) !important;
  color: var(--beige-1) !important;
} */

.ant-btn:not([disabled]):hover {
  background-color: var(--olive-dark) !important;
  color: var(--beige-1) !important;
}

.ant-btn {
  color: var(--olive-dark) !important;
  background-color: var(--beige-1) !important;
  border-color: var(--beige-1) !important;
  font-weight: bold !important;
}

.ant-btn-dangerous:not([disabled]):hover {
  background-color: var(--orange-dark) !important;
  color: var(--beige-1) !important;
}

.ant-btn-dangerous {
  background-color: #7f9a75 !important;
  background-color: var(--beige-1) !important;
  color: var(--orange-dark) !important;
}

.ant-modal-content {
  background-color: var(--beige-light) !important;

  .ant-modal-title {
    background-color: var(--beige-light) !important;
  }

  input:focus {
    background-color: var(--beige-1) !important;
  }
}

/* 
Extra small devices (portrait phones, less than 576px)
 No media query since this is the default in BootstrapXS

Small devices (landscape phones, 576px and up)SM
@media (min-width: 576px) { ... }

Medium devices (tablets, 768px and up)MD
@media (min-width: 768px) { ... }

Large devices (desktops, 992px and up)LG
@media (min-width: 992px) { ... }

Extra large devices (large desktops, 1200px and up)Xl
@media (min-width: 1200px) { ... }
*/
